*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#basliq{
    color: white;
    background-color: darkolivegreen;
    margin: 10px, 100%;
    padding: 25px;
    text-align: start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/*img{
    margin-left: 85%;
    transform: translate(-45px, -5vw);

}*/
h1{
    margin: 1%;
}

p{
    margin: 1%;
}

a{
    background-color: rgb(69, 94, 21);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: auto, 10%;
}

#linkler{
    color: white;
    padding: 1%;
    background-color: olive;
}

#alt-basliq{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: forestgreen;
    color: honeydew;
    margin: 0px;
}

#text1{
    color: white;
margin: 0px;
padding: 2rem;
font-size: 1.5rem;
}

#text2{
    color: whitesmoke;
    margin-top: 3rem;
    font-size: 1.5rem;
}

#all-texts{
background-color: darkolivegreen;
text-align: start;
}

h6{
    text-align: center;
}