*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: center;
    padding: 50px
}
body{
    background-color: purple;
}

.h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    font-weight: 300;
    size: 105px;
}

p{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*sriftin deyisdirilmesi*/
    color: white;
}

.microsoft{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(100px, 40px);
}

.apple{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(200px, -35px);
}

.linux{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(300px, -110px);
}

.android{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(400px, -180px);
}

div.images{
    width: 500px;
  height: 500px;
  align-items: center;  
  transform: translate();
}

.windown{
color: white;
background-color: black;
font-size: small;
}

.appdown{
    color: white;
background-color: black;
font-size: small;
}

.lindown{
    color: white;
background-color: black;
font-size: small;
}

.androdown{
    color: white;
background-color: black;
font-size: small;
}

